@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #e5a61fd6;
  --color-2: #3ddecb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #14453f;
  --color-2: #de5b58;
  --color-3: #2b7c73;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #e47437;
  --color-3: #e14d4bb4;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  /* place-items: center; */
  /* text-align: start; */
  height: 14vh;
  width: 14vh;
}

.sus {
  font-family: "Poppins";
}
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}

.neon {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Megrim", cursive;
  text-shadow: 0 0 5px #d10bf4, 0 0 10px #d10bf4, 0 0 20px #d10bf4,
    0 0 40px #d10bf4, 0 0 80px #d10bf4;
}
